<div class="container p-3">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
            <p>Copyright © 2020 StudentGator All rights reserved.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

            <ul>
                <span>Follow Us :  </span>
                <li><img src="../../assets/Icon awesome-facebook-square.svg"></li>
                <li><img src="../../assets/Icon ionic-logo-instagram.svg"></li>
                <li> <img src="../../assets/Icon awesome-linkedin.svg"></li>
                <li><img src="../../assets/Icon awesome-twitter-square.svg"></li>
                <li><img src="../../assets/Icon awesome-discord.svg"></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <span>Terms&Conditions</span> <span>Privacy Policy</span>
        </div>
    </div>
</div>