<div class=" container p-4  ">
    <form class="form-row justify-content-center" (ngSubmit)="onSearch()">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 txtcontainer ">
            <input class=" inputtxt" type="text" placeholder="What do you want to learn?" [formControl]="courseControl" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 txtcontainer">

            <input class="inputtxt" type="text" placeholder="Write or choose city" [formControl]="cityControl" [matAutocomplete]="auto" />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>

            <img src="../../../assets/Icon ionic-ios-arrow-down.svg" alt="" />
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
            <button class="btn">Search</button>
        </div>
    </form>
</div>